name: buildx

on:
  push:
    branches: main
    tags: 'v*'

jobs:
  buildx-torchserve:
    runs-on: ubuntu-latest
    environment:
      name: "release"
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up qemu
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
      if: github.repository == 'anarkiwi/torchserve' && github.event_name == 'push'
    - name: Build and push platforms
      uses: docker/build-push-action@v6
      with:
        context: .
        file: docker/Dockerfile.torchserve
        platforms: linux/amd64,linux/arm64
        push: true
        tags: anarkiwi/torchserve:${{ steps.change_version.outputs.VERSION }}
      if: github.repository == 'anarkiwi/torchserve' && github.event_name == 'push'
  buildx-orin-torchserve:
    runs-on: ubuntu-24.04-arm
    environment:
      name: "release"
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up qemu
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
      if: github.repository == 'anarkiwi/torchserve' && github.event_name == 'push'
    - name: Build and push platforms
      uses: docker/build-push-action@v6
      with:
        context: .
        file: docker/Dockerfile.orin-torchserve
        platforms: linux/arm64
        push: true
        tags: anarkiwi/orin-torchserve:${{ steps.change_version.outputs.VERSION }}
      if: github.repository == 'anarkiwi/torchserve' && github.event_name == 'push'
  buildx-cuda-torchserve:
    runs-on: ubuntu-latest
    environment:
      name: "release"
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
      if: github.repository == 'anarkiwi/torchserve' && github.event_name == 'push'
    - name: Build and push platforms
      uses: docker/build-push-action@v6
      with:
        context: .
        file: docker/Dockerfile.cuda-torchserve
        platforms: linux/amd64
        push: true
        tags: anarkiwi/cuda-torchserve:${{ steps.change_version.outputs.VERSION }}
      if: github.repository == 'anarkiwi/torchserve' && github.event_name == 'push'
